header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0 2rem;

    background-color: yellowgreen;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    list-style: none;
}

.navbar a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: red;

    font-size: 2rem;
    font-weight: bold;

    padding: 0.5rem 1rem;

    transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
    transform: translateY(-5px);
}